@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "SubmitterDashboard";
}

<h2>Submitter Dashboard</h2>

<div class="dt-head-left">
    
        @Html.ActionLink("Welcome " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    
    
</div>

<br />
<br />

<div class="header">

   
    
     @Html.ActionLink("Create a Ticket", "Create", null, new { @class="btn-primary btn-lg" })<br /><br />


</div>

<br />

<div class="header">



    @Html.ActionLink("View Tickets", "Index", null, new { @class = "btn-primary btn-lg" })


</div>